
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/style.css" rel="stylesheet" type="text/css" />

<div>
    <h3>you are cordially invited to a</h3>
    <h2 id="bp">Birthday Party</h2>
    <h3>to celebrate the 60th year of</h3>
    <h1>ADELINE JOHNSON</h1>
    <div>

        <p>saturday, august 18th at 1pm</p>
        <p> matcha tea room - 1234 main st, san diego</p>
        <p>hosted by kim cambell</p>
    </div>
    <div style="margin-bottom:20px"> <img src="~/Content/tenor.gif" alt="Birthday Party"></div>


    <div> @Html.ActionLink("RSVP Now", "RSVPForm")</div>


</div>





